.errorMsg {
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 40px;*/
    /*width: 200px;*/
    color: red;
    font-size: 12px;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-stretch: normal;
    src: url(https://fonts.gstatic.com/s/opensans/v27/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsiH0B4gaVc.ttf) format('truetype');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
    src: url(https://fonts.gstatic.com/s/opensans/v27/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4gaVc.ttf) format('truetype');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-stretch: normal;
    src: url(https://fonts.gstatic.com/s/opensans/v27/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsgH1x4gaVc.ttf) format('truetype');
}
@font-face {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/opensanscondensed/v15/z7NFdQDnbTkabZAIOl9il_O6KJj73e7Ff1GhDuXMQg.ttf) format('truetype');
}
@font-face {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/opensanscondensed/v15/z7NFdQDnbTkabZAIOl9il_O6KJj73e7Ff0GmDuXMQg.ttf) format('truetype');
}
* {
    box-sizing: border-box;
}
body {
    font-family: 'open sans', helvetica, arial, sans, serif;
    background: url(https://farm8.staticflickr.com/7064/6858179818_5d652f531c_h.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.log-form {
    width: 40%;
    min-width: 320px;
    max-width: 475px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}
@media (max-width: 40em) {
    .log-form {
        width: 95%;
        position: relative;
        margin: 2.5% auto 0 auto;
        left: 0;
        -webkit-transform: translate(0%, 0%);
        -moz-transform: translate(0%, 0%);
        -o-transform: translate(0%, 0%);
        -ms-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
    }
}
.log-form form {
    display: block;
    width: 100%;
    padding: 2em;
}
.log-form h2 {
    color: #5d5d5d;
    font-family: 'open sans condensed', serif;
    font-size: 1.35em;
    display: block;
    background: #2a2a2a;
    width: 100%;
    text-transform: uppercase;
    padding: 0.75em 1em 0.75em 1.5em;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.05);
    border: 1px solid #1d1d1d;
    margin: 0;
    font-weight: 200;
}
.log-form input {
    display: block;
    /*margin: auto auto;*/
    width: 100%;
    /*margin-bottom: 2em;*/
    margin-top: 2em;
    border: none;
    border-bottom: 1px solid #eaeaea;
    padding: 0.5em 0 1.25em;
    color: #757575;
}
.log-form input:focus {
    outline: none;
}
.log-form .btn {
    display: inline-block;
    margin-top: 2em;
    background: #1fb5bf;
    border: 1px solid #1ba0a9;
    padding: 0.5em 2em;
    color: white;
    margin-right: 0.5em;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

.btn {
    display: inline-block;
    margin-top: 2em;
    background: #1fb5bf;
    border: 1px solid #1ba0a9;
    padding: 0.5em 2em;
    color: white;
    margin-right: 0.5em;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

.btncancel {
    display: inline-block;
    margin-top: 2em;
    background: #ef4646;
    border: 1px solid #26292a;
    padding: 0.5em 2em;
    color: white;
    margin-right: 0.5em;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

.btn:hover {
    background: #23cad5;
}

.btncancel:hover {
    background: #dc4242;
}

.btn:active {
    background: #1fb5bf;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
}

.btncancel:active {
    background: #dc4242;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
}

.log-form .btn:hover {
    background: #23cad5;
}

.log-form .btncancel:hover {
    background: #dc4242;
}

.btn:active {
    background: #1fb5bf;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
}


.btncancel:active {
    background: #dc4242;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
}


.log-form .btn:active {
    background: #1fb5bf;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
}

.log-form .btncancel:active {
    background: #dc4242;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
}

.btn:focus {
    outline: none;
}

.log-form .btn:focus {
    outline: none;
}
.log-form .forgot {
    color: #33d3de;
    line-height: 0.5em;
    position: relative;
    top: 2.5em;
    text-decoration: none;
    font-size: 0.75em;
    margin: 0;
    padding: 0;
    float: right;
}
.log-form .forgot:hover {
    color: #1ba0a9;
}

table {
    width: 100%;
    table-layout: fixed;
}
table td {
    width: 100%;
}
table {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
    text-align: center;
    border: 1px solid #ddd;
    padding: 8px;
}

/*table tr:nth-child(even){*/
/*    text-align: center;*/
/*    background-color: #f2f2f2;*/
/*}*/


table th {
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #1fb5bf;
    color: white;
    font-weight: normal;
}


/* стилизация содержимого страницы */
body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #292b2c;
    background-color: #fff;
}

/* свойства модального окна по умолчанию */
.modal {
    position: fixed; /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5); /* цвет фона */
    z-index: 1050;
    opacity: 0; /* по умолчанию модальное окно прозрачно */
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in; /* анимация перехода */
    pointer-events: none; /* элемент невидим для событий мыши */
    margin: 0;
    padding: 0;
}
/* при отображении модального окно */
.modal:target {
    opacity: 1; /* делаем окно видимым */
    pointer-events: auto; /* элемент видим для событий мыши */
    overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}
/* ширина модального окна и его отступы от экрана */
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
@media (min-width: 576px) {
    .modal-dialog {
        max-width: 500px;
        margin: 30px auto; /* для отображения модального окна по центру */
    }
}
/* свойства для блока, содержащего контент модального окна */
.modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}
@media (min-width: 768px) {
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
        box-shadow: 0 5px 15px rgba(0,0,0,.5);
    }
}
/* свойства для заголовка модального окна */
.modal-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
}
.modal-title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 500;
}
/* свойства для кнопки "Закрыть" */
.close {
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
}
/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}
/* свойства для блока, содержащего основное содержимое окна */
.modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
    overflow: auto;
}

.tblsht {
    text-align: left;
}

 .myinput {
     width: 50%;
     height: 10px;
     border: none;
     border-bottom: 1px solid red;
}

.myinput{
    /*display: block;*/
    /*margin: auto auto;*/
    width: 100%;
    height: auto;
    /*margin-bottom: 2em;*/
    margin-top: 2em;
    border: none;
    border-bottom: 1px solid #eaeaea;
    padding: 0.5em 0 1.25em;
    color: #757575;
}


